.landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 80px;
  padding-inline: 50px;
  gap: 200px;
  background-color: #f2f2f2;
}

.landing-page .landing-page-info .title {
  font-family: myFont;
  width: 350px;
  font-size: 50px;
  color: $black-color;
  font-weight: 400;
}

.landing-page .landing-page-info p {
  color: $black-color;
  font-size: 18px;
  width: 500px;
  line-height: 1.7;
}

.landing-page .landing-page-info .buttons {
  padding-top: 30px;
  display: flex;
  align-items: center;
}

.landing-page .landing-page-info .buttons a:nth-child(1) {
  padding: 14px 35px;
  background-color: $red-color;
  border-radius: 30px;
  color: #fff;
  transition: 0.3s;
}

.landing-page .landing-page-info .buttons a:nth-child(2) {
  margin-left: 20px;
  color: $black-color;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.landing-page .landing-page-info .buttons a:nth-child(2) span {
  color: $red-color;
  font-size: 30px;
}

.landing-page .landing-page-info .buttons a:nth-child(1):hover {
  background-color: #d92929;
}

.landing-page img {
  width: 500px;
  animation: upDown 3s infinite;
}

.first-video-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-video-div.hide {
  display: none;
}

.first-video-div span {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 5px;
  background-color: rgba($color: #fff, $alpha: .6);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.first-video-div video {
  width: 900px;
  border-radius: 5px;
}

@keyframes upDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
