.testimonials {
  padding-block: 60px;
  text-align: center;
  background-color: #f2f2f2;
}

.testimonials .testimonials-header {
  padding-bottom: 50px;
}

.testimonials .testimonials-header span {
  text-transform: uppercase;
  color: #ccc;
}

.testimonials .testimonials-header h1 {
  color: $black-color;
  font-family: myFont;
  font-weight: 300;
}

.testimonials .testimonials-header h1 span {
  color: $red-color;
  font-family: myFont;
}

.testimonials .testimonials-body {
  display: flex;
  justify-content: center;
}

.testimonials .testimonials-body .person-info {
  width: 700px;
  text-align: start;
}

.testimonials .testimonials-body .person-info q {
  display: block;
  padding-bottom: 30px;
}

.testimonials .testimonials-body .person-info span {
  display: block;
  margin-bottom: 7px;
}

.testimonials .testimonials-body .person-info .name {
  color: $black-color;
  font-family: myFont;
  font-size: 18px;
}

.testimonials .testimonials-body .person-info .job {
  color: #ccc;
  font-family: myFont;
}

.testimonials .testimonials-body .person-info .rating {
  color: rgb(239, 209, 14);
}

.testimonials .testimonials-body img {
  width: 200px;
  border-radius: 50%;
}

// _______________________________

.carousel-container {
  width: 100%;
  height: 40vh;
  background: #f2f2f2;
  position: relative;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: 0.5s;
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
}

.next,
.previous {
  padding: 1vh 2vw;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  visibility: hidden;
}

.next {
  right: 0px;
}
.previous {
  left: 0;
}

.indicators-grp {
  width: 100%;
  padding: 2vh 0;
  position: absolute;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.indicator {
  padding: 0.3vh 1vw;
  padding: 5px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
}
.activeIndicator {
  background-color: $red-color;
}
.cars-1 {
  height: 430px;
  width: 100%;
  background-color: gray;
}
.yell {
  color: yellow;
}
